@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Italic"), local("Poppins-Italic"), url(https://fonts.gstatic.com/s/poppins/v12/pxiGyp8kv8JHgFVrJJLucHtF.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url(https://fonts.gstatic.com/s/poppins/v12/pxiDyp8kv8JHgFVrJJLmr19VF9eL.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url(https://fonts.gstatic.com/s/poppins/v12/pxiDyp8kv8JHgFVrJJLmy15VF9eL.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v12/pxiEyp8kv8JHgFVrJJfedw.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v12/pxiByp8kv8JHgFVrLEj6Z1xlEA.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v12/pxiByp8kv8JHgFVrLCz7Z1xlEA.ttf) format("truetype");
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
  background-color: #fafafa;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h2 {
  text-transform: uppercase;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.wrap {
  width: 95%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .wrap {
    max-width: 750px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .wrap {
    max-width: 970px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1260px) {
  .wrap {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 768px) {
  .service-list .card:nth-of-type(1) {
    grid-area: s1;
  }
}

.service-list .card:nth-of-type(1) .service-icon {
  color: #fff;
  background-color: #67809f;
}

.service-list .card:nth-of-type(1) .btn {
  background-color: #67809f;
}

.service-list .card:nth-of-type(1):hover {
  cursor: pointer;
}

.service-list .card:nth-of-type(1):hover {
  background-color: #67809f;
}

.service-list .card:nth-of-type(1):hover .btn {
  color: #67809f;
  background-color: #fff;
}

.service-list .card:nth-of-type(1):hover h3,
.service-list .card:nth-of-type(1):hover p {
  color: white;
}

.service-list .card:nth-of-type(1):hover .service-icon {
  color: #67809f;
  background-color: #fff;
}

.service-list .card:nth-of-type(1):hover h3:after {
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .service-list .card:nth-of-type(2) {
    grid-area: s2;
  }
}

.service-list .card:nth-of-type(2) .service-icon {
  color: #fff;
  background-color: #4083d7;
}

.service-list .card:nth-of-type(2) .btn {
  background-color: #4083d7;
}

.service-list .card:nth-of-type(2):hover {
  cursor: pointer;
}

.service-list .card:nth-of-type(2):hover {
  background-color: #4083d7;
}

.service-list .card:nth-of-type(2):hover .btn {
  color: #4083d7;
  background-color: #fff;
}

.service-list .card:nth-of-type(2):hover h3,
.service-list .card:nth-of-type(2):hover p {
  color: white;
}

.service-list .card:nth-of-type(2):hover .service-icon {
  color: #4083d7;
  background-color: #fff;
}

.service-list .card:nth-of-type(2):hover h3:after {
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .service-list .card:nth-of-type(3) {
    grid-area: s3;
  }
}

.service-list .card:nth-of-type(3) .service-icon {
  color: #fff;
  background-color: #2dcc71;
}

.service-list .card:nth-of-type(3) .btn {
  background-color: #2dcc71;
}

.service-list .card:nth-of-type(3):hover {
  cursor: pointer;
}

.service-list .card:nth-of-type(3):hover {
  background-color: #2dcc71;
}

.service-list .card:nth-of-type(3):hover .btn {
  color: #2dcc71;
  background-color: #fff;
}

.service-list .card:nth-of-type(3):hover h3,
.service-list .card:nth-of-type(3):hover p {
  color: white;
}

.service-list .card:nth-of-type(3):hover .service-icon {
  color: #2dcc71;
  background-color: #fff;
}

.service-list .card:nth-of-type(3):hover h3:after {
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .service-list .card:nth-of-type(4) {
    grid-area: s4;
  }
}

.service-list .card:nth-of-type(4) .service-icon {
  color: #fff;
  background-color: #d64541;
}

.service-list .card:nth-of-type(4) .btn {
  background-color: #d64541;
}

.service-list .card:nth-of-type(4):hover {
  cursor: pointer;
}

.service-list .card:nth-of-type(4):hover {
  background-color: #d64541;
}

.service-list .card:nth-of-type(4):hover .btn {
  color: #d64541;
  background-color: #fff;
}

.service-list .card:nth-of-type(4):hover h3,
.service-list .card:nth-of-type(4):hover p {
  color: white;
}

.service-list .card:nth-of-type(4):hover .service-icon {
  color: #d64541;
  background-color: #fff;
}

.service-list .card:nth-of-type(4):hover h3:after {
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .service-list .card:nth-of-type(5) {
    grid-area: s5;
  }
}

.service-list .card:nth-of-type(5) .service-icon {
  color: #fff;
  background-color: #926fb1;
}

.service-list .card:nth-of-type(5) .btn {
  background-color: #926fb1;
}

.service-list .card:nth-of-type(5):hover {
  cursor: pointer;
}

.service-list .card:nth-of-type(5):hover {
  background-color: #926fb1;
}

.service-list .card:nth-of-type(5):hover .btn {
  color: #926fb1;
  background-color: #fff;
}

.service-list .card:nth-of-type(5):hover h3,
.service-list .card:nth-of-type(5):hover p {
  color: white;
}

.service-list .card:nth-of-type(5):hover .service-icon {
  color: #926fb1;
  background-color: #fff;
}

.service-list .card:nth-of-type(5):hover h3:after {
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .service-list .card:nth-of-type(6) {
    grid-area: s6;
  }
}

.service-list .card:nth-of-type(6) .service-icon {
  color: #fff;
  background-color: #f62559;
}

.service-list .card:nth-of-type(6) .btn {
  background-color: #f62559;
}

.service-list .card:nth-of-type(6):hover {
  cursor: pointer;
}

.service-list .card:nth-of-type(6):hover {
  background-color: #f62559;
}

.service-list .card:nth-of-type(6):hover .btn {
  color: #f62559;
  background-color: #fff;
}

.service-list .card:nth-of-type(6):hover h3,
.service-list .card:nth-of-type(6):hover p {
  color: white;
}

.service-list .card:nth-of-type(6):hover .service-icon {
  color: #f62559;
  background-color: #fff;
}

.service-list .card:nth-of-type(6):hover h3:after {
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .service-list .card:nth-of-type(7) {
    grid-area: s7;
  }
}

.service-list .card:nth-of-type(7) .service-icon {
  color: #fff;
  background-color: #926fb1;
}

.service-list .card:nth-of-type(7) .btn {
  background-color: #926fb1;
}

.service-list .card:nth-of-type(7):hover {
  cursor: pointer;
}

.service-list .card:nth-of-type(7):hover {
  background-color: #926fb1;
}

.service-list .card:nth-of-type(7):hover .btn {
  color: #926fb1;
  background-color: #fff;
}

.service-list .card:nth-of-type(7):hover h3,
.service-list .card:nth-of-type(7):hover p {
  color: white;
}

.service-list .card:nth-of-type(7):hover .service-icon {
  color: #926fb1;
  background-color: #fff;
}

.service-list .card:nth-of-type(7):hover h3:after {
  background-color: #fff;
}

header {
  background-color: #fff;
  padding-top: 1em;
  position: relative;
}

header.clone {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.2s -webkit-transform cubic-bezier(0.3, 0.73, 0.3, 0.74);
  transition: 0.2s -webkit-transform cubic-bezier(0.3, 0.73, 0.3, 0.74);
  transition: 0.2s transform cubic-bezier(0.3, 0.73, 0.3, 0.74);
  transition: 0.2s transform cubic-bezier(0.3, 0.73, 0.3, 0.74), 0.2s -webkit-transform cubic-bezier(0.3, 0.73, 0.3, 0.74);
}

body.down header.clone {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.center-hd {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  .center-hd {
    height: 4.1em;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .center-hd {
    height: 4.4em;
  }
}

.hd-wrapper {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

@media only screen and (min-width: 768px) {
  .hd-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.ie-hd-style {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ie-hd-style .menu,
.ie-hd-style .telephone {
  margin: 0 1em;
}

@media only screen and (min-width: 600px) {
  .ie-hd-style .menu,
  .ie-hd-style .telephone {
    margin: 0 2em;
  }
}

@media only screen and (min-width: 600px) and (min-width: 768px) {
  .ie-hd-style .support,
  .ie-hd-style .contact,
  .ie-hd-style .search-wrap,
  .ie-hd-style .menu {
    margin: 0 0.5em;
  }
}

#logo {
  width: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 400px;
  height: auto;
  max-height: 70px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  #logo {
    height: 100%;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-bottom: 0;
    margin-right: 2em;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  #logo {
    margin-right: 3em;
  }
}

.service-list {
  display: grid;
  display: -ms-grid;
  width: 100%;
  grid-gap: 2em;
  margin: 5em 0;
}

.service-list .card {
  padding: 30px;
  border: 1px solid #cccccc;
  border-radius: 0.25em;
  text-align: center;
  color: #333645;
  background-color: #fff;
}

.service-list .service-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-bottom: 0.5em;
  border-radius: 50%;
}

.service-list .service-icon i {
  font-size: 1.3em;
  margin-top: 20px;
}

.service-list h3 {
  position: relative;
  margin: 0.35em 0 0;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 2em;
}

.service-list h3:after {
  content: "";
  position: absolute;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  width: 6%;
  bottom: -1em;
  left: 47%;
  right: 0;
  background-color: #333645;
  height: 3px;
}

.service-list p {
  font-size: .8em;
}

.service-list .btn {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .service-list {
    -ms-grid-columns: none;
        grid-template-columns: none;
        grid-template-areas: "s1 s1" "s2 s2" "s3 s3" "s4 s5" "s6 s7";
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .service-list {
        grid-template-areas: "s1 s1 s2 s2 s3 s3" "s4 s4 s4 s5 s5 s5" "s6 s6 s6 s7 s7 s7";
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1260px) {
  .service-list {
        grid-template-areas: "s1 s1 s1 s1 s2 s2 s2 s2 s3 s3 s3 s3" "s4 s4 s4 s5 s5 s5 s6 s6 s6 s7 s7 s7";
  }
}

.ie-service-grid {
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media only screen and (min-width: 768px) {
  .ie-service-grid {
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .ie-service-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1260px) {
  .ie-service-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
  }
}

.ie-service-grid .software {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  .ie-service-grid .software {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column-span: 2;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .ie-service-grid .software {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column-span: 2;
    margin-right: 1em;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1260px) {
  .ie-service-grid .software {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column-span: 4;
  }
}

.ie-service-grid .it {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
  margin: 1em 0;
}

@media only screen and (min-width: 768px) {
  .ie-service-grid .it {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column-span: 2;
    margin: 1em 0;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .ie-service-grid .it {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    -ms-grid-column-span: 2;
    margin: 0 1em 1em;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1260px) {
  .ie-service-grid .it {
    -ms-grid-column: 5;
    -ms-grid-row: 1;
    -ms-grid-column-span: 4;
  }
}

.ie-service-grid .digital {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
  margin: 1em 0;
}

@media only screen and (min-width: 768px) {
  .ie-service-grid .digital {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    -ms-grid-column-span: 2;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .ie-service-grid .digital {
    -ms-grid-column: 5;
    -ms-grid-row: 1;
    -ms-grid-column-span: 2;
    margin: 0 0 1em 1em;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1260px) {
  .ie-service-grid .digital {
    -ms-grid-column: 9;
    -ms-grid-row: 1;
    -ms-grid-column-span: 4;
  }
}

.ie-service-grid .telecoms {
  -ms-grid-column: 1;
  -ms-grid-row: 4;
  margin: 1em 0;
}

@media only screen and (min-width: 768px) {
  .ie-service-grid .telecoms {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
    margin-right: 1em;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .ie-service-grid .telecoms {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column-span: 3;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1260px) {
  .ie-service-grid .telecoms {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column-span: 3;
    margin-bottom: 0;
  }
}

.ie-service-grid .web {
  -ms-grid-column: 1;
  -ms-grid-row: 5;
  margin: 1em 0;
}

@media only screen and (min-width: 768px) {
  .ie-service-grid .web {
    -ms-grid-column: 2;
    -ms-grid-row: 4;
    margin-left: 1em;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .ie-service-grid .web {
    -ms-grid-column: 4;
    -ms-grid-row: 2;
    -ms-grid-column-span: 3;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1260px) {
  .ie-service-grid .web {
    -ms-grid-column: 4;
    -ms-grid-row: 2;
    -ms-grid-column-span: 3;
    margin-bottom: 0;
    margin-right: 1em;
  }
}

.ie-service-grid .security {
  -ms-grid-column: 1;
  -ms-grid-row: 6;
  margin: 1em 0;
}

@media only screen and (min-width: 768px) {
  .ie-service-grid .security {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
    margin: 1em 1em 0 0;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .ie-service-grid .security {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    -ms-grid-column-span: 3;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1260px) {
  .ie-service-grid .security {
    -ms-grid-column: 7;
    -ms-grid-row: 2;
    -ms-grid-column-span: 3;
    margin-left: 1em;
  }
}

.ie-service-grid .web-training {
  -ms-grid-column: 1;
  -ms-grid-row: 7;
  margin-top: 1em;
}

@media only screen and (min-width: 768px) {
  .ie-service-grid .web-training {
    -ms-grid-column: 2;
    -ms-grid-row: 5;
    margin-left: 1em;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .ie-service-grid .web-training {
    -ms-grid-column: 4;
    -ms-grid-row: 3;
    -ms-grid-column-span: 3;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1260px) {
  .ie-service-grid .web-training {
    -ms-grid-column: 10;
    -ms-grid-row: 2;
    -ms-grid-column-span: 3;
  }
}

.info {
  margin-top: 3em;
  padding: 1em 1em;
  color: #fff;
  background-color: #333645;
}

@media only screen and (min-width: 992px) {
  .info {
    background-image: url("../img/nm-brand-bg.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: auto 100%;
  }
}

@media only screen and (min-width: 1260px) {
  .info-text {
    margin: 0;
    text-align: left;
    width: 570px;
  }
}

.info-text h2 {
  font-size: 2.2em;
}

.info-text p {
  font-size: 1.1em;
  padding-top: 1em;
}

.info-text p:first-of-type {
  font-weight: 600;
}

.info-text .btn {
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: 1em;
}

.news {
  display: grid;
  display: -ms-grid;
  width: 100%;
  grid-gap: 2em;
  margin: 5em 0;
}

.news .card {
  padding: 30px;
  border: 1px solid #cccccc;
  border-radius: 0.25em;
  text-align: center;
  color: #333645;
  background-color: #fff;
}

.news .card {
  padding: 0;
}

.news .card .img-container {
  overflow: hidden;
  position: relative;
}

.news .card .img-container .category-type {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1;
  font-size: .75rem;
  padding: 0 10px;
  line-height: 1.438rem;
  text-transform: uppercase;
  color: #fff;
}

.news .card .img-container img {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.news .card .img-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.news .card .container {
  text-align: left;
  padding: 1.5em;
}

.news .card .container .btn {
  color: #fff;
}

.news .card .container h4 {
  font-weight: 600;
  margin-top: 0;
  padding-top: 0;
  text-transform: capitalize;
}

@media only screen and (min-width: 768px) {
  .news .card .container h4 {
    display: inline-block;
    height: 3em;
  }
}

.news .card .container p {
  font-size: 0.8em;
  color: #666;
  padding-bottom: 1em;
}

.news .card .author {
  text-align: left;
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #cccccc;
}

.news .card .author .avatar {
  display: inline-block;
}

.news .card .author .avatar img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.news .card .author .details {
  display: inline-block;
  padding-left: 1em;
}

.news .card .author .details strong, .news .card .author .details p {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.news .prfx-color--web h4 {
  color: #926fb1;
}

.news .prfx-color--web .btn,
.news .prfx-color--web .category-type {
  background-color: #926fb1;
}

.news .prfx-color--it h4 {
  color: #4083d7;
}

.news .prfx-color--it .btn,
.news .prfx-color--it .category-type {
  background-color: #4083d7;
}

.news .prfx-color--telecoms h4 {
  color: #d64541;
}

.news .prfx-color--telecoms .btn,
.news .prfx-color--telecoms .category-type {
  background-color: #d64541;
}

.news .prfx-color--software h4 {
  color: #67809f;
}

.news .prfx-color--software .btn,
.news .prfx-color--software .category-type {
  background-color: #67809f;
}

.news .prfx-color--digital h4 {
  color: #2dcc71;
}

.news .prfx-color--digital .btn,
.news .prfx-color--digital .category-type {
  background-color: #2dcc71;
}

.news .prfx-color--security h4 {
  color: #f62559;
}

.news .prfx-color--security .btn,
.news .prfx-color--security .category-type {
  background-color: #f62559;
}

@media only screen and (min-width: 768px) {
  .news {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .news article:last-of-type {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1260px) {
  .news article:last-of-type {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1260px) {
  .news {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.ie-news-grid {
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
}

@media only screen and (min-width: 768px) {
  .ie-news-grid {
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1260px) {
  .ie-news-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
  }
}

.ie-news-grid .news:nth-of-type(1) {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  .ie-news-grid .news:nth-of-type(1) {
    margin: 0 1em 0 0;
  }
}

.ie-news-grid .news:nth-of-type(2) {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
  margin: 1em 0;
}

@media only screen and (min-width: 768px) {
  .ie-news-grid .news:nth-of-type(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    margin: 0 0 0 1em;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1260px) {
  .ie-news-grid .news:nth-of-type(2) {
    margin-right: 1em;
  }
}

.ie-news-grid .news:nth-of-type(3) {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
  margin-top: 1em;
}

@media only screen and (min-width: 1260px) {
  .ie-news-grid .news:nth-of-type(3) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    margin: 0 0 0 1em;
  }
}

footer {
  color: #fff;
  background-color: #333645;
}

footer .ft {
  padding: 2em;
}

@media only screen and (min-width: 768px) {
  footer .ft {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 3em;
  }
}

footer .ft h4 {
  text-transform: uppercase;
  font-weight: 400;
}

footer .ft p,
footer .ft ul {
  font-size: 0.8em;
}

footer .ft ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .ft a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 992px) {
  .contact-container .contact-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2em;
  }
  .contact-container .contact-form form .form-group {
    width: 48%;
  }
  .contact-container .contact-form form .form-group-mes {
    width: 100%;
  }
}

@media only screen and (min-width: 1260px) {
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 2em;
  }
  .contact-container .contact-list {
    width: 30%;
  }
  .contact-container .contact-form {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2em;
  }
  .card-container .loc-card {
    width: 50%;
  }
  .card-container .loc-card .details {
    height: 390px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em 2em;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .card-container .loc-card .details {
    padding: 2em;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (min-width: 992px) {
  .card-container .loc-card .details {
    padding: 3em 2em;
  }
}

.support,
.contact {
  display: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 3.75em;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.1em;
}

@media only screen and (min-width: 992px) {
  .support,
  .contact {
    display: block;
  }
}

.support i,
.contact i {
  font-size: 1.3em;
  padding-right: 0.5em;
}

.support {
  background-color: #4183d7;
}

.support:hover {
  background-color: #2a6ec6;
}

.contact {
  background-color: #999aa2;
}

.contact:hover {
  background-color: #84858f;
}

.search-wrap {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 2.8em;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  margin-top: 1em;
}

@media only screen and (min-width: 768px) {
  .search-wrap {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    margin: 0;
    height: 3.75em;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .search-wrap {
    -ms-flex-preferred-size: 60px;
        flex-basis: 60px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1260px) {
  .search-wrap {
    display: block;
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
  }
}

.searchbar {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  border: 2px solid lightgrey;
}

@media only screen and (min-width: 768px) {
  .searchbar {
    border: none;
  }
}

.search-input {
  width: 4em;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  padding: 0.75em;
  font-size: 1em;
  background-color: #e5e5e5;
  border: none;
}

@media only screen and (min-width: 768px) {
  .search-input {
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
    background-color: #fff;
    border: 1px solid lightgrey;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .search-input {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1260px) {
  .search-input {
    display: block;
  }
}

.search-btn {
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 1em;
  font-size: 1.5em;
  background: #e5e5e5;
  color: #333645;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .search-btn {
    background: #84858F;
    color: #fff;
    border-radius: 0 4px 4px 0;
    font-size: 1.5em;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .search-btn {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border-radius: 4px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1260px) {
  .search-btn {
    border-radius: 0 4px 4px 0;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.menu {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  height: 3em;
  width: 3.5em;
  padding: 0.2em 0;
  border-radius: 0.25em;
  text-align: center;
  color: white;
  background-color: #333645;
}

@media only screen and (min-width: 600px) {
  .menu {
    height: 3.75em;
    width: 3.75em;
  }
}

.menu i {
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  font-weight: 200;
}

@media only screen and (min-width: 600px) {
  .menu i {
    font-size: 2em;
  }
}

.menu h5 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 400;
}

@media only screen and (min-width: 600px) {
  .menu h5 {
    font-weight: 400;
  }
}

.telephone {
  font-size: 2em;
  margin: 0 0.5em;
}

@media only screen and (min-width: 600px) {
  .telephone {
    margin: 0;
  }
}

@media only screen and (min-width: 600px) and (min-width: 768px) {
  .telephone {
    display: none;
  }
}

.drop-nav {
  display: none;
}

@media only screen and (min-width: 992px) {
  .drop-nav {
    display: block;
    height: 100px;
    background-color: #333645;
    color: #fff;
    border-bottom: 1px solid #ddd;
  }
}

.drop-nav .dn-container {
  display: none;
}

@media only screen and (min-width: 992px) {
  .drop-nav .dn-container {
    display: block;
    height: 100%;
    margin: auto;
  }
  .drop-nav .dn-container .web i {
    color: #926fb1;
  }
  .drop-nav .dn-container .web small::after {
    display: block;
    content: "Design";
  }
  .drop-nav .dn-container .web:hover,
  .drop-nav .dn-container .web .dd-menu,
  .drop-nav .dn-container .web .dd-menu:before,
  .drop-nav .dn-container .web .dd-menu:after {
    background-color: #926fb1;
  }
  .drop-nav .dn-container .it i {
    color: #4083d7;
  }
  .drop-nav .dn-container .it small::after {
    display: block;
    content: "Support";
  }
  .drop-nav .dn-container .it:hover,
  .drop-nav .dn-container .it .dd-menu,
  .drop-nav .dn-container .it .dd-menu:before,
  .drop-nav .dn-container .it .dd-menu:after {
    background-color: #4083d7;
  }
  .drop-nav .dn-container .telecoms i {
    color: #d64541;
  }
  .drop-nav .dn-container .telecoms small::after {
    display: block;
    content: "Services";
  }
  .drop-nav .dn-container .telecoms:hover,
  .drop-nav .dn-container .telecoms .dd-menu,
  .drop-nav .dn-container .telecoms .dd-menu:before,
  .drop-nav .dn-container .telecoms .dd-menu:after {
    background-color: #d64541;
  }
  .drop-nav .dn-container .software i {
    color: #67809f;
  }
  .drop-nav .dn-container .software small::after {
    display: block;
    content: "Software";
  }
  .drop-nav .dn-container .software:hover,
  .drop-nav .dn-container .software .dd-menu,
  .drop-nav .dn-container .software .dd-menu:before,
  .drop-nav .dn-container .software .dd-menu:after {
    background-color: #67809f;
  }
  .drop-nav .dn-container .digital i {
    color: #2dcc71;
  }
  .drop-nav .dn-container .digital small::after {
    display: block;
    content: "Marketing";
  }
  .drop-nav .dn-container .digital:hover,
  .drop-nav .dn-container .digital .dd-menu,
  .drop-nav .dn-container .digital .dd-menu:before,
  .drop-nav .dn-container .digital .dd-menu:after {
    background-color: #2dcc71;
  }
  .drop-nav .dn-container .security i {
    color: #f62559;
  }
  .drop-nav .dn-container .security small::after {
    display: block;
    content: "Security";
  }
  .drop-nav .dn-container .security:hover,
  .drop-nav .dn-container .security .dd-menu,
  .drop-nav .dn-container .security .dd-menu:before,
  .drop-nav .dn-container .security .dd-menu:after {
    background-color: #f62559;
  }
  .drop-nav .dn-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: inherit;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    position: relative;
  }
  .drop-nav .dn-container li {
    padding: 19px 18px;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    cursor: pointer;
  }
  .drop-nav .dn-container li i {
    font-size: 1.3em;
  }
  .drop-nav .dn-container li small {
    display: block;
    text-transform: uppercase;
    font-size: 0.7em;
  }
  .drop-nav .dn-container li small::after {
    font-size: 1.4em;
  }
  .drop-nav .dn-container li:hover i {
    color: #fff;
  }
  .drop-nav .dn-container li:hover .dd-menu {
    visibility: visible;
  }
  .drop-nav .dn-container li .dd-menu {
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    z-index: 10;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #1d1f28;
  }
  .drop-nav .dn-container li .dd-menu:before, .drop-nav .dn-container li .dd-menu:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #1d1f28;
  }
  .drop-nav .dn-container li .dd-menu:before {
    left: 100%;
    width: 2000px;
  }
  .drop-nav .dn-container li .dd-menu:after {
    right: 100%;
    width: 2000px;
  }
  .drop-nav .dn-container li .dd-menu li {
    border: none;
    text-transform: uppercase;
    height: 45px;
    padding-top: 0.8em;
    padding-left: 0;
    font-size: .8125rem;
  }
}

@media only screen and (min-width: 992px) and (min-width: 1260px) {
  .drop-nav .dn-container li .dd-menu li {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .drop-nav .dn-container li .dd-menu li:not(:last-child) a:after {
    content: "-";
    padding-left: 20px;
  }
}

@media only screen and (min-width: 992px) and (min-width: 1260px) {
  .drop-nav .dn-container li .dd-menu li:not(:last-child) a:after {
    padding-left: 30px;
  }
}

#side-nav .web i {
  color: #926fb1;
}

#side-nav .web small::after {
  display: block;
  content: "Design";
}

#side-nav .web:hover,
#side-nav .web .dd-menu,
#side-nav .web .dd-menu:before,
#side-nav .web .dd-menu:after {
  background-color: #926fb1;
}

#side-nav .it i {
  color: #4083d7;
}

#side-nav .it small::after {
  display: block;
  content: "Support";
}

#side-nav .it:hover,
#side-nav .it .dd-menu,
#side-nav .it .dd-menu:before,
#side-nav .it .dd-menu:after {
  background-color: #4083d7;
}

#side-nav .telecoms i {
  color: #d64541;
}

#side-nav .telecoms small::after {
  display: block;
  content: "Services";
}

#side-nav .telecoms:hover,
#side-nav .telecoms .dd-menu,
#side-nav .telecoms .dd-menu:before,
#side-nav .telecoms .dd-menu:after {
  background-color: #d64541;
}

#side-nav .software i {
  color: #67809f;
}

#side-nav .software small::after {
  display: block;
  content: "Software";
}

#side-nav .software:hover,
#side-nav .software .dd-menu,
#side-nav .software .dd-menu:before,
#side-nav .software .dd-menu:after {
  background-color: #67809f;
}

#side-nav .digital i {
  color: #2dcc71;
}

#side-nav .digital small::after {
  display: block;
  content: "Marketing";
}

#side-nav .digital:hover,
#side-nav .digital .dd-menu,
#side-nav .digital .dd-menu:before,
#side-nav .digital .dd-menu:after {
  background-color: #2dcc71;
}

#side-nav .security i {
  color: #f62559;
}

#side-nav .security small::after {
  display: block;
  content: "Security";
}

#side-nav .security:hover,
#side-nav .security .dd-menu,
#side-nav .security .dd-menu:before,
#side-nav .security .dd-menu:after {
  background-color: #f62559;
}

#side-nav .divider {
  background-color: #333645;
  color: #fff;
}

#side-nav .sub {
  background-color: #262834;
  color: #fff;
}

#side-nav .sub i {
  padding: 0.9em;
}

#side-nav .l1 {
  width: 90%;
  margin: 1.5em auto;
  padding: 0.44em 0;
  text-align: center;
  border: 1px solid rgba(140, 130, 115, 0.25);
  text-transform: uppercase;
  color: #fff;
}

#side-nav .l1 .contactnav {
  font-size: 1.125rem;
}

#side-nav .l1 i {
  display: block;
  font-size: 1.3rem;
  padding-bottom: .5rem;
}

#side-nav .l1 small {
  font-size: .8em;
}

#side-nav .l1 small:after {
  font-size: 1.125rem;
}

#side-nav .l1:hover i {
  color: #fff;
}

#side-nav .l2 {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  border-bottom: 1px solid rgba(140, 130, 115, 0.25);
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
  background-color: #2d303e;
}

@media only screen and (min-width: 992px) {
  #side-nav .l1,
  #side-nav .l2 {
    display: none;
  }
}

.mm-menu {
  --mm-color-border: rgba(140, 130, 115, 0.25);
  --mm-color-background: #333645;
  --mm-color-text: #fff;
  font-size: 0.9em;
  text-transform: uppercase;
}

.mm-divider {
  font-size: 1.2em;
  border-bottom: 1px solid rgba(140, 130, 115, 0.25);
  border-top: 1px solid rgba(140, 130, 115, 0.25);
}

.mm-panel {
  background-color: #333645;
}

.carousel {
  text-align: center;
  width: 100%;
  height: 590px;
  position: relative;
  color: #fff;
  background-color: #333645;
}

.carousel .webbtn {
  background-color: #926fb1;
}

.carousel .itbtn {
  background-color: #4083d7;
}

.carousel .telecomsbtn {
  background-color: #d64541;
}

.carousel .softwarebtn {
  background-color: #67809f;
}

.carousel .digitalbtn {
  background-color: #2dcc71;
}

.carousel .cyberbtn {
  background-color: #f62559;
}

.carousel-content {
  position: absolute;
  z-index: 3;
  top: 20%;
  left: 10%;
  right: 10%;
}

.carousel-content h2 {
  font-size: 2em;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .carousel-content h2 {
    font-size: 3em;
  }
}

.carousel-content p {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 2em;
}

.carousel-content .btn {
  font-size: 1.3em;
  color: #fff;
}

.carousel .img-con:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, right top, left top, color-stop(25%, transparent), to(#000));
  background: linear-gradient(270deg, transparent 25%, #000);
  z-index: 1;
}

.btn {
  padding: 0.75em 1.5em;
  border-radius: 0.25em;
  display: inline-block;
  text-transform: uppercase;
  color: #333645;
  background-color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

.bar {
  background-color: #fff;
  width: 100%;
}

.bar h3 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 0;
  padding: 0 0 1.5em;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 600;
}

.bar h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333645;
  height: 5px;
}

.clients {
  display: none;
}

@media only screen and (min-width: 768px) {
  .clients {
    display: block;
    width: 100%;
    background-color: #F7F7F7;
    height: 150px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .clients {
    height: 170px;
  }
}

@media only screen and (min-width: 768px) {
  .clients .container {
    height: 100%;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clients .container .list {
    width: 100%;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .clients .container .list .item {
    position: relative;
  }
  .clients .container .list .item .tooltip {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    bottom: 100%;
    left: -200px;
    right: -200px;
  }
  .clients .container .list .item .tooltip .box {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    max-width: 260px;
    margin: 0 auto 50px;
    text-align: center;
  }
  .clients .container .list .item .tooltip .box h3 {
    position: relative;
    padding-bottom: 0.8em;
  }
  .clients .container .list .item .tooltip .box h3:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 28px;
    height: 3px;
    display: block;
    background-color: #fff;
  }
  .clients .container .list .item .tooltip .box .arrow {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -36px;
  }
  .clients .container .list .item .tooltip .box .arrow:after {
    content: "";
    margin: auto;
    display: inline-block;
    border-color: #333645 transparent transparent;
    border-style: solid;
    border-width: 35px 36px 0;
  }
  .clients .container .list .item:hover .tooltip {
    visibility: visible;
  }
  .clients .container .list .item img {
    width: 90%;
    height: auto;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .clients .container .list .item img {
    width: 100%;
  }
}

.sc-icns {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sc-icns .social-icon {
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 2em;
  padding: 0.5em 1em;
  margin: 0.5em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
}

.sc-icns .social-icon:hover {
  background-color: #3b5998;
}

.accreditations {
  display: none;
}

@media only screen and (min-width: 768px) {
  .accreditations {
    display: block;
    width: 100%;
    background-color: #fff;
    height: 210px;
  }
  .accreditations .container {
    height: 100%;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .accreditations .container .list {
    width: 100%;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .accreditations .container .list .item img {
    width: 90%;
    height: auto;
  }
}

#cookie-consent {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

#cookie-consent .modal-dialog {
  width: 600px;
  background-color: #fff;
}

#cookie-consent .modal-dialog .modal-header {
  padding: 15px 20px;
  border-bottom: 1px solid #e5e5e5;
}

#cookie-consent .modal-dialog .modal-header .modal-title {
  font-weight: 400;
  font-size: 1.625rem;
  color: #2d303e;
  padding: 0;
  margin: 0;
}

#cookie-consent .modal-dialog .modal-body {
  padding: 20px;
  line-height: 1.875rem;
}

#cookie-consent .modal-dialog .modal-footer {
  padding: 19px 20px 20px;
  border-top: 1px solid #e5e5e5;
}

#cookie-consent .modal-dialog .modal-footer .btn-con {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
}

#cookie-consent .modal-dialog .modal-footer .btn-con .btn {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #fff;
  text-align: center;
}

#cookie-consent .modal-dialog .modal-footer .btn-con .btn:first-child {
  background-color: #67809f;
  margin-right: 1em;
}

#cookie-consent .modal-dialog .modal-footer .btn-con .btn:last-child {
  background-color: #926fb1;
  margin-left: 1em;
}

.breadcrumb {
  display: none;
  height: 45px;
  width: 100%;
  background-color: #fff;
}

.breadcrumb ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumb li {
  display: inline;
  font-size: 0.8125rem;
}

.breadcrumb a {
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #333645;
  }
  .breadcrumb li:first-child:after {
    content: "/\A0";
    padding-left: 10px;
    padding-right: 5px;
  }
}

.section-hd {
  background-color: #333645;
  color: #fff;
  height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4em;
}

.section-hd h1 {
  font-size: 2.25rem;
  font-weight: 400;
  max-width: 750px;
}

@media only screen and (min-width: 992px) {
  .section-hd {
    background-color: transparent;
    color: #333645;
    margin: 2em 0;
  }
}

.contact-list p {
  margin-bottom: 1.5em;
}

.contact-list strong {
  font-weight: 600;
}

.contact-list a {
  font-weight: 600;
  color: #926fb1;
  font-size: 1.625rem;
}

.contact-list .num {
  font-size: 2rem;
}

.contact-list .accordion:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contact-list .accordion i {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.contact-list .accordion .rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contact-list .out-of-hours-content {
  display: none;
}

.contact-list .active .out-of-hours-content {
  display: block;
}

.contact-list .active .accordion {
  text-decoration: underline;
}

.contact-form {
  margin: 2em 0;
}

.contact-form label {
  font-weight: 600;
}

.contact-form .required:after {
  content: " *";
  color: #d24d57;
}

.contact-form .form-control {
  width: 100%;
  height: 47px;
  padding: 5px 15px;
  margin-top: 0.125em;
  margin-bottom: 1em;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  font: inherit;
  font-size: 0.875rem;
  color: #555;
}

.contact-form .form-control:focus {
  border-color: #5bc0de;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

.contact-form .form-control[id='message'] {
  min-height: 100px;
}

.contact-form .require {
  border: 1px solid #d24d57;
}

.contact-form .check-container {
  margin-bottom: 2.5em;
}

.contact-form .check-container input {
  border-radius: 3px;
  outline: 3px solid #333645;
  height: 32px;
  width: 32px;
  position: relative;
  float: left;
  margin-right: 20px;
  cursor: pointer;
}

.contact-form .check-container span {
  font-weight: 600;
  line-height: 32px;
}

.contact-form .check-container span a {
  text-decoration: underline;
}

.contact-form .btn {
  background-color: #333645;
  color: #fff;
  border: none;
  font-weight: 400;
  font-size: 1em;
  padding: 1em;
}

.loc-card {
  margin-bottom: 2em;
}

.loc-card .details {
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  padding: 2em;
}

.loc-card .location-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-bottom: 0.5em;
  border-radius: 50%;
  background-color: #333645;
  color: #fff;
}

.loc-card .location-icon i {
  font-size: 1.5em;
  margin-top: 20px;
}

.loc-card h2 {
  padding-bottom: 0.5em;
  position: relative;
  font-size: 1.125em;
}

.loc-card h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
}

.loc-card p {
  font-size: .8215em;
  line-height: 1.4rem;
}

.loc-card .map {
  margin: 0;
}

.loc-card .map iframe {
  width: 100%;
  height: 300px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.alert button {
  float: right;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0.2;
}

.alert-fail {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  font-size: 1rem;
}

.alert-success {
  color: #fff;
  background: #2ecc71;
  border-color: #d6e9c6;
}
/*# sourceMappingURL=main.css.map */