@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Italic"), local("Poppins-Italic"), url(https://fonts.gstatic.com/s/poppins/v12/pxiGyp8kv8JHgFVrJJLucHtF.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url(https://fonts.gstatic.com/s/poppins/v12/pxiDyp8kv8JHgFVrJJLmr19VF9eL.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url(https://fonts.gstatic.com/s/poppins/v12/pxiDyp8kv8JHgFVrJJLmy15VF9eL.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v12/pxiEyp8kv8JHgFVrJJfedw.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v12/pxiByp8kv8JHgFVrLEj6Z1xlEA.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v12/pxiByp8kv8JHgFVrLCz7Z1xlEA.ttf) format("truetype");
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
  background-color: #fafafa;
}

.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

h2 {
  text-transform: uppercase;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.service-list .card:nth-of-type(1) .service-icon {
  color: #fff;
  background-color: #67809f;
}

.service-list .card:nth-of-type(1) .btn {
  background-color: #67809f;
}

.service-list .card:nth-of-type(1):hover {
  background-color: #67809f;
}

.service-list .card:nth-of-type(1):hover .service-icon,
.service-list .card:nth-of-type(1):hover .btn {
  color: #67809f;
  background-color: #fff;
}

.service-list .card:nth-of-type(1):hover h3,
.service-list .card:nth-of-type(1):hover p {
  color: white;
}

.service-list .card:nth-of-type(2) .service-icon {
  color: #fff;
  background-color: #4083d7;
}

.service-list .card:nth-of-type(2) .btn {
  background-color: #4083d7;
}

.service-list .card:nth-of-type(2):hover {
  background-color: #4083d7;
}

.service-list .card:nth-of-type(2):hover .service-icon,
.service-list .card:nth-of-type(2):hover .btn {
  color: #4083d7;
  background-color: #fff;
}

.service-list .card:nth-of-type(2):hover h3,
.service-list .card:nth-of-type(2):hover p {
  color: white;
}

.service-list .card:nth-of-type(3) .service-icon {
  color: #fff;
  background-color: #2dcc71;
}

.service-list .card:nth-of-type(3) .btn {
  background-color: #2dcc71;
}

.service-list .card:nth-of-type(3):hover {
  background-color: #2dcc71;
}

.service-list .card:nth-of-type(3):hover .service-icon,
.service-list .card:nth-of-type(3):hover .btn {
  color: #2dcc71;
  background-color: #fff;
}

.service-list .card:nth-of-type(3):hover h3,
.service-list .card:nth-of-type(3):hover p {
  color: white;
}

.service-list .card:nth-of-type(4) .service-icon {
  color: #fff;
  background-color: #d64541;
}

.service-list .card:nth-of-type(4) .btn {
  background-color: #d64541;
}

.service-list .card:nth-of-type(4):hover {
  background-color: #d64541;
}

.service-list .card:nth-of-type(4):hover .service-icon,
.service-list .card:nth-of-type(4):hover .btn {
  color: #d64541;
  background-color: #fff;
}

.service-list .card:nth-of-type(4):hover h3,
.service-list .card:nth-of-type(4):hover p {
  color: white;
}

.service-list .card:nth-of-type(5) .service-icon {
  color: #fff;
  background-color: #926fb1;
}

.service-list .card:nth-of-type(5) .btn {
  background-color: #926fb1;
}

.service-list .card:nth-of-type(5):hover {
  background-color: #926fb1;
}

.service-list .card:nth-of-type(5):hover .service-icon,
.service-list .card:nth-of-type(5):hover .btn {
  color: #926fb1;
  background-color: #fff;
}

.service-list .card:nth-of-type(5):hover h3,
.service-list .card:nth-of-type(5):hover p {
  color: white;
}

.service-list .card:nth-of-type(6) .service-icon {
  color: #fff;
  background-color: #f62559;
}

.service-list .card:nth-of-type(6) .btn {
  background-color: #f62559;
}

.service-list .card:nth-of-type(6):hover {
  background-color: #f62559;
}

.service-list .card:nth-of-type(6):hover .service-icon,
.service-list .card:nth-of-type(6):hover .btn {
  color: #f62559;
  background-color: #fff;
}

.service-list .card:nth-of-type(6):hover h3,
.service-list .card:nth-of-type(6):hover p {
  color: white;
}

.service-list .card:nth-of-type(7) .service-icon {
  color: #fff;
  background-color: #926fb1;
}

.service-list .card:nth-of-type(7) .btn {
  background-color: #926fb1;
}

.service-list .card:nth-of-type(7):hover {
  background-color: #926fb1;
}

.service-list .card:nth-of-type(7):hover .service-icon,
.service-list .card:nth-of-type(7):hover .btn {
  color: #926fb1;
  background-color: #fff;
}

.service-list .card:nth-of-type(7):hover h3,
.service-list .card:nth-of-type(7):hover p {
  color: white;
}

header {
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
}

.service-list {
  display: -ms-grid;
  display: grid;
  grid-gap: 2em;
  margin: 5em 3%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px) {
  .service-list {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: row;
  }
}

.service-list .card {
  display: inline-block;
  padding: 1.5em 1.2em;
  border: 1px solid #cccccc;
  border-radius: 0.25em;
  text-align: center;
  color: #333645;
  background-color: #fff;
}

.service-list .service-icon {
  display: inline-block;
  padding: 1em 1.2em;
  margin-bottom: 0.5em;
  border-radius: 50%;
  font-size: 1.3em;
}

.service-list h3 {
  position: relative;
  margin: 0.35em 0 0;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 2em;
}

.service-list h3:after {
  content: "";
  position: absolute;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  width: 6%;
  bottom: -1em;
  left: 47%;
  right: 0;
  background-color: #333645;
  height: 3px;
}

.service-list p {
  font-size: .8em;
}

.service-list .btn {
  color: #fff;
}

.info {
  margin-top: 3em;
  padding: 1em 1em;
  color: #fff;
  background-color: #333645;
}

.info h2 {
  font-size: 2.2em;
}

.info p {
  font-size: 1em;
}

.info p:first-of-type {
  font-weight: 600;
}

.info .btn {
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: 1em;
}

.news {
  display: -ms-grid;
  display: grid;
  grid-gap: 2em;
  margin: 5em 3%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px) {
  .news {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: row;
  }
}

.news .card {
  display: inline-block;
  padding: 1.5em 1.2em;
  border: 1px solid #cccccc;
  border-radius: 0.25em;
  text-align: center;
  color: #333645;
  background-color: #fff;
}

.news .card {
  padding: 0;
}

.news .card img {
  width: 100%;
  height: 250px;
}

.news .card .container {
  text-align: left;
  padding: 1.5em;
}

.news .card .container .btn {
  color: #fff;
}

.news .card .container h4 {
  font-weight: 600;
  margin-top: 0;
  padding-top: 0;
}

.news .card .container p {
  font-size: 0.8em;
  color: #666;
  padding-bottom: 1em;
}

.news .card:nth-child(2n + 1) h4 {
  color: #4083d7;
}

.news .card:nth-child(2n + 1) .btn {
  background-color: #4083d7;
}

.news .card:nth-child(2n) h4 {
  color: #926fb1;
}

.news .card:nth-child(2n) .btn {
  background-color: #926fb1;
}

.ft {
  margin-top: 3em;
  padding: 1em 1em;
  color: #fff;
  background-color: #333645;
}

@media only screen and (min-width: 768px) {
  .ft {
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .ft .contact,
  .ft .about,
  .ft .ft-website {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.ft .about {
  border: 1px solid orange;
}

.ft h4 {
  text-transform: uppercase;
  font-weight: 400;
}

.ft p,
.ft ul {
  font-size: 0.8em;
}

.ft ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ft a:hover {
  text-decoration: underline;
}

#logo {
  margin-top: 1em;
  margin-left: 1em;
}

.search-wrap {
  width: 95%;
  display: inline-block;
  margin: 0 auto 1.5em;
  position: relative;
}

.search-input {
  width: 100%;
  padding: 0.75em;
  margin: 0.25em auto;
  font-size: 1em;
  background-color: #e5e5e5;
  border: 2px solid lightgrey;
}

.search-btn {
  background: none;
  color: #333645;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 25%;
}

.menu {
  color: white;
  background-color: #333645;
  margin: 0.8em;
  margin-left: auto;
  padding: 0.3em 0.75em;
  border-radius: 0.25em;
  text-align: center;
}

.menu i {
  margin: 0;
  padding: 0;
  font-size: 2em;
}

.menu h5 {
  margin: 0;
  padding: 0;
}

.telephone {
  font-size: 2em;
  margin-top: 0.7em;
  margin-left: auto;
}

.carousel {
  text-align: center;
  width: 100%;
  height: 500px;
  padding: 5em 10% 0;
  color: #fff;
  background-color: #333645;
}

.carousel h2 {
  font-size: 3em;
}

.carousel p {
  font-size: 1.3em;
  font-weight: 400;
}

.carousel .btn {
  font-size: 1.1em;
}

.btn {
  padding: 0.75em 1.5em;
  border-radius: 0.25em;
  display: inline-block;
  text-transform: uppercase;
  color: #333645;
  background-color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

.bar {
  background-color: #fff;
}

.bar h3 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 0 1.5em;
  padding: 0 0 1.5em;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 600;
}

.bar h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333645;
  height: 5px;
}

.sc-icns {
  display: -webkit-flex;
}

.sc-icns .social-icon {
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 2em;
  padding: 0.5em 1em;
  margin: 0.5em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sc-icns .social-icon:hover {
  background-color: #3b5998;
}
/*# sourceMappingURL=main.css.map */