
html {
  box-sizing: border-box;
  padding: 0;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.info {
  h2 {
    font-size: 2em;
  }
  p {
    font-size: 1.1em;
  }
  .btn {
    margin-bottom: 2em;
  }
}

.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}