//VARS

//colors
$white: #fff;
//$light: #f4f4f4;
$grey-search: #e5e5e5;
$dark: #333645;
$darker: #2d303e;
$btn-hov: #ebebeb;
$service-colors: //service card colors
  ('1': #67809f,
  '2': #4083d7,
  '3': #2dcc71,
  '4': #d64541,
  '5': #926fb1,
  '6': #f62559,
  '7': #926fb1);

// Layout
$max-width: 1000px;
$gutter: 10px;

//breakpoints
$breakpoints: (
  'xs': 575px,
  'sm': 576px,
  'med': 768px,
  'lg': 992px,
);


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
  
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;

  font-family: Poppins, sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
  background-color: darken(#fff, 2%);
}

.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

//media queries
@mixin mq($break) {
  $value: map-get($breakpoints, $break);
  $sm: map-get($breakpoints, 'sm');
    
  @if $value == null {
    @error "'#{$break}' is not a valid breakpoint name.";   
  }
            
  @if $value < $sm {
    @media only screen and (max-width: $value){
       @content;
    }
   }
  @else {
     @media only screen and (min-width: $value){
       @content;
    }
  }
} 

@for $i from 1 through 7 {
  .service-list {
    .card:nth-of-type(#{$i}) {
      //CARD default state
      .service-icon {
        color: $white;
        background-color: map-get($service-colors, #{$i});
      }
      .btn {
        background-color: map-get($service-colors, #{$i});
      }

      //CARD hover state
      &:hover {
        & {
          background-color: map-get($service-colors, #{$i});
        }
        .service-icon,
        .btn {
          color: map-get($service-colors, #{$i});
          background-color: $white;
        }
        h3,
        p {
          color: white;
        }
      }
    }
  }
        
}

.info {
  h2 {
    font-size: 2em;
  }
  p {
    font-size: 1.1em;
  }
  .btn {
    margin-bottom: 2em;
    font-size: 1em;
  }
}
