
#logo {
    margin-top: 1em; 
    margin-left: 1em;
    //float: left;
}

.search {
    &-wrap{  //Search container
        width: 95%;
        display: inline-block;
        margin: 0 auto 1.5em;
        position: relative;
    }
    &-input { //search input box
        width: 100%;
        padding: 0.75em;
        margin: 0.25em auto;
        font-size: 1em;
        background-color: $grey-search;
        border: 2px solid lightgrey;
    }
    
    &-btn { //search icon and button
        background: none;
        color: $dark;
        font-size: 1.5em;
        border: none;
        cursor: pointer;

        position: absolute;
        right: 0;
        top: 25%;
    }
}

.menu {
    color: white;
    background-color: $dark;
    margin: 0.8em; 
    margin-left: auto;
    padding: 0.3em 0.75em;
    border-radius: 0.25em;
    text-align: center;
    i {
        margin: 0;
        padding: 0;
        font-size: 2em;
    }
    h5 {
        margin:0;
        padding: 0;
    }
}

.telephone {
    font-size: 2em;
    margin-top: 0.7em;
    margin-left: auto;
}

.carousel {
    text-align: center;
    width: 100%;
    height: 500px;
    padding: 5em 10% 0;
    color: $white;
    background-color: $dark;
    h2 {
        font-size: 3em;
    }
    p {
        font-size: 1.3em;
        font-weight: 400;
    }
    .btn {
        font-size: 1.1em;
    }
}

.btn {
    padding: 0.75em 1.5em;
    border-radius: 0.25em;
    display: inline-block;

    text-transform: uppercase;
    color: $dark;
    background-color: $white;

    &:hover {
        opacity: 0.8;
    }
}

.bar {
    h3 {
        position: relative;
        display: inline-block;

        margin: 1.5em 0 0 1.5em;
        padding: 0 0 1.5em;

        font-size: 1.3em;
        text-transform: uppercase;
        font-weight: 600;
        
        
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #333645;
            height: 5px;
        }
    }
    background-color: $white;
}
