
.support,
.contact {
    display: none;
    @include mq(lg){
       display: block;
    }
    color: $white;
    border:none;
    border-radius: 5px;
    flex-grow: 1;
    height: 3.75em;
    margin: 0;

    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.1em;
    i {
        font-size: 1.3em;
        padding-right: 0.5em;
    }
}

.support {
    // order: 1;
    background-color: #4183d7;
    &:hover{
        background-color: #2a6ec6;
    }
}

.contact {
    // order: 2;
    background-color: #999aa2;
    &:hover{
        background-color: #84858f;
    }
}

//seachbar start
.search {
    &-wrap{  //Search container
        flex-basis: 100%; 
        height: 2.8em;
        flex-grow: 4;
        order: 5;

        @include mq(med) {
            flex-basis: 25%; 
            margin:0;
            height: 3.75em;
            order: 3;

            @include mq(lg) { //from bar to button
                flex-basis: 60px;
                flex-grow: 0;

                @include mq(xlg) { //button to bar
                    display: block;
                    flex-grow: 4;
                }
            }
        }
    }
    &bar {
        width:100%;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        
        border: 2px solid lightgrey;

        @include mq(med) {
            border: none;
        }
    }
    &-input { //search input box
        width: 4em;
        flex-grow: 10;
        padding: 0.75em;
        font-size: 1em;
        background-color: $grey-search;
        border: none;

        @include mq(med) {
            flex-grow: 4;
            background-color: $white;
            border: 1px solid lightgrey;
            @include mq(lg) {
                display: none;
                @include mq(xlg) {
                    display: block;
                }
            }
        }
    }
    &-btn { //search icon and button
        border: none;
        flex-grow: 1;
        width: 1em;
        font-size: 1.5em;
        background: $grey-search;
        color: $dark;
        cursor: pointer;

        @include mq(med) {
            background: #84858F;
            color: $white;
            border-radius: 0 4px 4px 0;
            font-size: 1.5em;
            flex-basis: 25%;
            flex-grow: 0;
            @include mq(lg) {
                flex-basis: 100%;
                border-radius: 4px;
                @include mq(xlg) {
                    border-radius: 0 4px 4px 0;
                    flex-basis: 25%;
                }
            }
        }
    }
}
//seachbar end

//menu button start
.menu {
    order: 4;
    height: 3.75em;
    padding: 0.2em 0.75em;
    border-radius: 0.25em;
    text-align: center;
    vertical-align: center;
    color: white;
    background-color: $dark;

    i {
        margin: 0;
        padding: 0;
        font-size: 2em;
        font-weight: 400;
    }
    h5 {
        margin:0;
        padding: 0;
        font-weight: 400;
        text-transform: uppercase;
    }
}
// menu end

//header telephone icon
.telephone {
    font-size: 2em;
    @include mq(med) {
        display: none;
    }
}

//DROP NAV
.drop-nav { 
    display: none;

    @include mq(lg) { //background of the nav that spans the width
        display: block;
        height: 100px;
        background-color: $dark;
        color: $white;
        border-bottom: 1px solid #ddd;
    }

    .dn-container { //container that holds all nav
        display: none;

        @include mq(lg) {
            display: block;
            //width: 100%;
            height: 100%;
            margin: auto;
            @include nav-style();

            ul {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;

                width: 100%;
                height: inherit;

                border-left: 1px solid hsla(0,0%,100%,.1);
                border-right: 1px solid rgba(0,0,0,.25);
                list-style: none;
                text-align: center;
                padding: 0;
                margin: 0;  
                position: relative;   
            }
            li {
                padding: 19px 18px;
                border-left: 1px solid rgba(0,0,0,.25);
                border-right: 1px solid hsla(0,0%,100%,.1);
                flex-grow: 1;
                cursor: pointer;
 
                i {
                    font-size: 1.3em;
                }
                small {
                    display: block;
                    text-transform: uppercase;
                    font-size: 0.7em;

                    &::after {
                        font-size: 1.4em;
                    }
                }
                &:hover {
                    i {
                        color:$white;
                    }
                    .dd-menu {
                        visibility: visible;
                    }
                }

                //drop down sub menu
                .dd-menu {
                    visibility: hidden;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    
                    position: absolute;
                    top: 100%;
                    left: -1px;
                    right: -1px;
                    z-index: 10;

                    padding: 0;
                    margin: 0;
                    list-style: none;
                    background-color: #1d1f28;

                    &:before,
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        background-color: #1d1f28;
                    }
                    &:before {
                        left: 100%;
                        width: 2000px;
                    }
                    &:after {
                        right: 100%;
                        width: 2000px;
                    }

                    li {
                        border: none;
                        text-transform: uppercase;
                        height: 45px;
                        padding-top: 0.8em;
                        padding-left: 0;

                        font-size: .8125rem;
                        @include mq(xlg) {
                            font-size: 1rem;
                        }
                        
                        &:not(:last-child) a:after  {
                            content: "-";
                            padding-left: 20px;
                            @include mq(xlg) {
                                padding-left: 30px;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}
//Dropnav end

//SIDE NAV
#side-nav {
    @include nav-style();
    
    .divider {
        background-color: $dark;
        color: $white;
    }
    .sub {
        background-color: #262834;
        color: $white;
        i {
            padding: 0.9em;
        }
    }
    
    .l1 {
        width: 90%;
        margin: 1.5em auto;
        padding: 0.44em 0;
        text-align: center;
        border: 1px solid rgba(140, 130, 115, 0.25);
        text-transform: uppercase;
        color: $white;

        .contactnav {
            font-size: 1.125rem;
        }
        i {
            display: block;
            font-size: 1.3rem;
            padding-bottom: .5rem;
        }
        small {
            font-size: .8em;
            &:after {
                font-size: 1.125rem;
            }
        }
    }

    .l2 {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        border-bottom: 1px solid rgba(140, 130, 115, 0.25);
        text-transform: uppercase;
        font-size: 1rem;
        color: $white;
        background-color: $darker;
    }
    @include mq(lg) {
        .l1,
        .l2 {
            display: none;
        }
    }
}
.mm {
    &-menu {
        --mm-color-border: rgba(140, 130, 115, 0.25);
        --mm-color-background: #333645;
        --mm-color-text: #fff;
        font-size: 0.9em;
        text-transform: uppercase;
    }

    &-divider {
        font-size: 1.2em;
        border-bottom: 1px solid rgba(140, 130, 115, 0.25);
        border-top: 1px solid rgba(140, 130, 115, 0.25);
    }
    &-panel {
        background-color: #333645;
    }
}
//SIDE NAV end

//carousel start
.carousel {
    text-align: center;
    width: 100%;
    height: 590px;
    position: relative;
    
    color: $white;
    background-color: $dark;
    
    &-content {
        position: absolute;
        z-index: 3;
        top: 20%;
        left: 10%;
        right: 10%;

        @include mq(lg) {
            left: 20%;
            right: 35%;
        }
        h2 {
            font-size: 3em;
            margin-bottom: 0;
        }
        p {
            font-size: 1.2em;
            font-weight: 400;
            margin-bottom: 2em;
        }
        .btn {
            font-size: 1.3em;
            color: $white;
            background-color: get-color(web);
        }
    }
    .img-con:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(270deg,transparent 25%,#000);
        z-index: 1;
    }
}
//carousel end

//global button start
.btn {
    padding: 0.75em 1.5em;
    border-radius: 0.25em;
    display: inline-block;

    text-transform: uppercase;
    color: $dark;
    background-color: $white;

    &:hover {
        opacity: 0.8;
    }
}
//button end

//latest bar above news
.bar {
    h3 {
        position: relative;
        display: inline-block;

        margin: 1.5em 0 0;
        padding: 0 0 1.5em;

        font-size: 1.3em;
        text-transform: uppercase;
        font-weight: 600;
        
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #333645;
            height: 5px;
        }
    }
    background-color: $white;
    width: 100%;
}
//bar end

//CLIENTS
.clients {
    display: none;
    @include mq(med) {
        display: block;
        width: 100%;
        background-color: #F7F7F7;
        height: 150px;

        @include mq(lg) {
            height: 170px;
        }
        
        .container {
            height: 100%;
            
            display: flex;
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-flow: row nowrap;
            align-items: center;

            .list {
                width: 100%;
                
                display: flex;
                display: -webkit-flex;
                display: -ms-flexbox;
                flex-flow: row nowrap;
                justify-content: space-between;

                .item {
                    position: relative;
                    .tooltip {
                        visibility: hidden;
                        z-index: 1;
                        position: absolute;
                        bottom: 100%;
                        left: -200px;
                        right: -200px;

                        .box {
                            background-color: $dark;
                            color: $white;
                            padding: 20px;
                            font-size: .875rem;
                            max-width: 260px;
                            margin: 0 auto 50px;
                            text-align: center;

                            h3 {
                                position: relative;
                                padding-bottom: 0.8em;
                                &:after {
                                    content: "";
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    margin: auto;
                                    width: 28px;
                                    height: 3px;
                                    display: block;
                                    background-color: $white;
                                }
                            }
                            .arrow {
                                position: absolute;
                                bottom: 10px;
                                left: 50%;
                                margin-left: -36px;
                                &:after {
                                    content: "";
                                    margin: auto;
                                    display: inline-block;
                                    border-color: #333645 transparent transparent;
                                    border-style: solid;
                                    border-width: 35px 36px 0;
                                }
                            }
                        }
                    }
                    filter: grayscale(100%);
                    &:hover {
                        filter: grayscale(0%);
                        .tooltip {
                        visibility: visible;
                        }
                    }

                    img {
                        width: 90%;
                        height: auto;
                        @include mq(lg) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
//Clients end

//footer social icons
.sc-icns {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    .social-icon {
        background-color: rgba(0,0,0,.25);
        text-align: center;
        font-size: 2em;
        padding: 0.5em 1em; 
        margin: 0.5em;
        flex-grow: 1;
        cursor: pointer;
    }
    .social-icon:hover{
        background-color: #3b5998;
    }
}
//social icon end

//CLIENTS
.accreditations {
    display: none;
    @include mq(med) {
        display: block;
        width: 100%;
        background-color: $white;
        height: 210px;
        
        .container {
            height: 100%;
            
            display: flex;
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-flow: row nowrap;
            align-items: center;

            .list {
                width: 100%;
                
                display: flex;
                display: -webkit-flex;
                display: -ms-flexbox;
                flex-flow: row nowrap;
                justify-content: space-between;

                .item {
                    img {
                        filter: grayscale(100%);
                        width: 90%;
                        height: auto;

                        &:hover {
                            filter: grayscale(0%);
                        }
                    }
                }
            }
        }
    }
}
//Clients end

//COOKIE POPUP
#cookie-consent {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.7);

    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;

    .modal-dialog {
        width: 600px;
        background-color: $white;

        .modal-header {
            padding: 15px 20px;
            //min-height: 17px;
            border-bottom: 1px solid #e5e5e5;
            
            .modal-title {
                font-weight: 400;
                font-size: 1.625rem;
                color: $darker;
                padding: 0;
                margin: 0;
            }
        }
        .modal-body {
            padding: 20px;
            line-height: 1.875rem;
        }
        .modal-footer {
            padding: 19px 20px 20px;
            border-top: 1px solid #e5e5e5;

            .btn-con {
                display: flex;
                display: -webkit-flex;
                display: -ms-flexbox;

                .btn {
                    display: inline-block;
                    flex-grow: 1;
                    color: $white;
                    text-align: center;
                    &:first-child {
                        background-color: map-get($service-colors, '1');
                        margin-right: 1em;
                    }
                    &:last-child {
                        background-color: map-get($service-colors, '5');
                        margin-left: 1em;
                    }
                }
            }
        }
    }
}
//cookie popup end