//header - centerhd - hdwrapper // Header container order (out to in)
header {
    background-color: $white;
    padding-top: 1em;

    position: relative;
}

header.clone {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 990;
    transform: translateY(-100%);
    transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
}

body.down header.clone {
    transform: translateY(0);
}

.center-hd {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1em;

    @include mq(med){
        height: 4.1em;
        @include mq(lg) {
            height: 4.4em;
        }
    }
}

//header flex wrapper, for logo, buttons, search and menu
.hd-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    @include mq(med) {
        flex-wrap: nowrap;
    }

    width: 100%;
    height:100%;
    align-items: center;
    justify-content: space-between;
    //gap in header
    column-gap: 1em;
}

.ie-hd-style {
    #logo {
        height: 50px;
        max-width: 100%;
        @include mq(lg) {
            max-width: 35%;
            @include mq(xlg) {
                max-width: 40%;
            }
        }
    }
    
    .menu,
    .telephone {
        margin: 0 1em;
    }

    @include mq(sm) {
        .menu,
        .telephone {
            margin: 0 2rem;
        }
        @include mq(med) {
            .support,
            .contact,
            .search-wrap,
            .menu {
                margin: 0 0.5em;
            }
        }
    }
}

#logo {
    flex-grow: 1;
    width: 100px;
    height: auto;
    max-width: 400px;
    max-height: 70px;
    cursor: pointer;
    @include mq(med){
        flex-basis: 45%;
        margin-bottom: 0;
        margin-right: 2em;
        @include mq(lg) {
           margin-right: 3em;
        }
    }
}

//sevice list start
.service-list{
    @include card-grid(); //in base.scss

    .service-icon {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin-bottom: 0.5em;
        border-radius: 50%;
        i {
            font-size: 1.3em;
            margin-top: 20px;
        }
    }
    h3 {
        position: relative;
        margin: 0.35em 0 0;
        line-height: 1.25;
        font-weight: 400;
        margin-bottom: 2em;
        &:after {
            content: "";
            position: absolute;
            transform-origin: 50% ;
            width: 6%;
            bottom: -1em;
            left: 47%;
            right: 0;
            background-color: #333645;
            height: 3px;
        }
    }
    p {
            font-size: .8em;
        }
    .btn {
        color: $white;
    }

    //layout of responsive service grid
    @include mq(med) {
       grid-template-columns: none;
       
       grid-template-areas: 
        "s1 s1"
        "s2 s2"
        "s3 s3"
        "s4 s5"
        "s6 s7";
       
        @include mq(lg) {
            grid-template-areas: 
            "s1 s1 s2 s2 s3 s3"
            "s4 s4 s4 s5 s5 s5"
            "s6 s6 s6 s7 s7 s7";
        
            @include mq(xlg) {
                grid-template-areas: 
                "s1 s1 s1 s1 s2 s2 s2 s2 s3 s3 s3 s3"
                "s4 s4 s4 s5 s5 s5 s6 s6 s6 s7 s7 s7";
            }
        }
    }
}

//IE support for service card grid
.ie-service-grid {
    @include ie-service-card-layout();
}

//services end

//info pane
.info {
    margin-top: 3em;
    padding: 1em 1em;
    color: #fff;
    background-color: #333645;
    @include mq (lg) {
        background-image: url('../img/nm-brand-bg.png');
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: auto 100%
    }

    &-text {
        @include mq(xlg) {
            margin: 0;
            text-align: left;
            width: 570px;
        }

        h2 {
            font-size: 2.2em;
        }
        p {
            font-size: 1.1em;
            padding-top: 1em;
        }
        p:first-of-type {
            font-weight: 600;
        }
        .btn {
            margin-top: 1em;
            margin-bottom: 2em;
            font-size: 1em;
        }
    }
  }
//info pane end

//news article start
.news { 
    @include card-grid();

    .card {
        padding: 0;
        .img-container {
            overflow: hidden;
            //height:250px;
            position: relative;
            
            .category-type {
                position: absolute;
                top: 10px;
                right: 0;
                z-index: 1;
                
                font-size: .75rem;
                padding: 0 10px;
                line-height: 1.438rem;
                text-transform: uppercase;

                color: $white;         
            }
            img {
                width: 100%;
                height: auto;
                transition: transform 0.2s;
                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }

        .container {
            text-align: left;
            padding: 1.5em;

            .btn {
                color: $white;
            }
            h4 {
                font-weight: 600;
                margin-top: 0;
                padding-top: 0;
                text-transform: capitalize;
                @include mq (med) {
                    display: inline-block;
                    height: 3em;
                }
            }
            p {
                font-size: 0.8em;
                color: $lighter;
                padding-bottom: 1em;
            }

        }
        
        .author {
            text-align: left;
            margin-top: 2em;
            padding-top: 2em;
            border-top: 1px solid rgb(204, 204, 204);

            .avatar {
                img {
                    width: 3em;
                    height: 3em;
                    border-radius: 50%;
                }

                
                display: inline-block;        
            }
            .details {
                display: inline-block;
                padding-left: 1em;
                strong, p {
                    font-size: 0.9rem;
                    margin:0;
                    padding:0;
                }
            }
            
        }
    }

    //gets color for each news card
    .prfx-color {
        @each $service in map-keys($color-key) {
          &--#{$service} {
            h4 {
                color: get-color($service);
            }
            .btn,
            .category-type {
                background-color: get-color($service);
            }
          }
        }
    }

    //News card layout
    @include mq(med){
        //use last child instead, so the class names aren't needed
        article:last-of-type {
            display: none;

            @include mq(xlg) {
                display: block;
            }
        }
        grid-template-columns: 1fr 1fr;

        @include mq(xlg) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

//IE support for layout
.ie-news-grid {
    @include ie-news-card-layout();
}
//news end

//footer start
footer {
    color: #fff;
    background-color: #333645;

    .ft {
        //contact //about //ft-website //social
        padding: 2em;
        @include mq(med){
            display: flex;
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-flow: row wrap;
            -ms-flex-flow: row wrap;
            justify-content: space-between;
            gap: 3em;

        }

        h4 {
            text-transform: uppercase;
            font-weight: 400;
        }
        p,
        ul {
            font-size: 0.8em;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
//footer end

//
//contact us
//
.contact-container {
    @include mq(lg) {
        .contact-form form{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2em;
            .form-group {
                width: 48%;
                &-mes {
                    width: 100%;
                }
            }
        }
    }
    @include mq(xlg) {
        display: flex;
        flex-direction: row-reverse;
        gap: 2em;
        .contact-list {
            width: 30%;
        }
        .contact-form {
            width: 70%;
        } 
    }
}

.card-container {
    @include mq(med) {
        display: flex;
        gap: 2em;
        .loc-card {
            width: 50%;
            .details {
                height: 390px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 1em 2em;
                @include mq(lg) {
                    padding: 2em;
                    @include mq(lg) {
                        padding: 3em 2em;
                    }
                }
            }
        }   
    }
}