
header {
    display: -webkit-flex;
    //flex-direction: row;
    //flex-wrap: wrap;
    background-color: $white;
    align-items: center;
}

#logo {
    margin: 1em 2em;
    margin-right: 3em;
    width: 30%;
    flex-grow: 1;
}
//header right wrapper, flexbox for buttons, search and menu
.hd-r-wrapper {
    display: -webkit-inline-flex;
    flex-grow: 3;
    width: 50%;
    height: 60px;

    & > * {
        margin-right: 1.7em;
    }

    border: 1px solid red;
}

//sevice list start
.service-list{
    @include card-grid();
    .service-icon {
        display:inline-block;
        padding: 1em 1.2em;
        margin-bottom: 0.5em;
        border-radius: 50%;
        font-size: 1.3em;
    }
    h3 {
        position: relative;
        margin: 0.35em 0 0;
        line-height: 1.25;
        font-weight: 400;
        margin-bottom: 2em;
        &:after {
            content: "";
            position: absolute;
            transform-origin: 50% ;
            width: 6%;
            bottom: -1em;
            left: 47%;
            right: 0;
            background-color: #333645;
            height: 3px;
        }
    }
    p {
            font-size: .8em;
        }
    .btn {
        color: $white;
    }
}
//services end

//info pane
.info {
    margin-top: 3em;
    padding: 1em 1em;
    color: #fff;
    background-color: #333645;

    h2 {
      font-size: 2.2em;
    }
    p {
      font-size: 1em;
    }
    p:first-of-type {
      font-weight: 600;
    }
    .btn {
      margin-top: 1em;
      margin-bottom: 2em;
      font-size: 1em;
    }
  }
//info pane end

//news article start
.news { 
    @include card-grid();

    .card {
        padding: 0;
        img {
            width: 100%;
            height: 250px;
        }
        .container {
            text-align: left;
            padding: 1.5em;

            .btn {
                color: $white;
            }
            h4 {
                font-weight: 600;
                margin-top: 0;
                padding-top: 0;
            }
            p {
                font-size: 0.8em;
                color: $lighter;
                padding-bottom: 1em;
            }

        }
        &:nth-child(2n + 1) {
            h4 {
                color: map-get($service-colors, '2'); //blue
            }
            .btn {
                background-color: map-get($service-colors, '2'); //blue
            }
        }
        &:nth-child(2n ) {
            h4 {
                color: map-get($service-colors, '5'); //blue
            }
            .btn {
                background-color: map-get($service-colors, '5'); //blue
            }
        }
    }
}
//news end

//footer start
.ft {
    //contact //about //ft-website //social
    margin-top: 3em;
    padding: 1em 1em;
    color: #fff;
    background-color: #333645;

    @include mq(med){
        display: -webkit-flex;
        flex-wrap: wrap;
        flex-direction: row;

        .ft-contact,
        .about,
        .ft-website {
            flex-grow: 1;
        }
    }

    .about {
        border: 1px solid orange;
    }

    h4 {
        text-transform: uppercase;
        font-weight: 400;
    }
    p,
    ul {
        font-size: 0.8em;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a:hover {
        text-decoration: underline;
    }
}