//header - centerhd - hdwrapper // Header container order (out to in)
header {
    background-color: $white;
    padding-top: 1em;
}

.center-hd {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1em;

    @include mq(med){
        height: 4.1em;
        @include mq(lg) {
            height: 4.4em;
        }
    }
}

//header flex wrapper, for logo, buttons, search and menu
.hd-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    @include mq(med) {
        flex-wrap: nowrap;
    }

    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:100%;

    //gap in header
    column-gap: 1em;
    @include ie() {
        .support,
        .contact,
        .search-wrap,
        .menu {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }
}

#logo {
    width: 200px;
    flex-grow: 1;
    max-width: 400px;
    height: 70px;
    margin-bottom: 0.5em;
    cursor: pointer;
    @include mq(med){
        height: 100%;
        flex-basis: 45%;
        margin-bottom: 0;
        margin-right: 2em;
        @include mq(lg) {
            margin-right: 3em;
        }
    }
}

//sevice list start
.service-list{
    @include card-grid();

    .service-icon {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin-bottom: 0.5em;
        border-radius: 50%;
        i {
            font-size: 1.3em;
            margin-top: 20px;
        }
    }
    h3 {
        position: relative;
        margin: 0.35em 0 0;
        line-height: 1.25;
        font-weight: 400;
        margin-bottom: 2em;
        &:after {
            content: "";
            position: absolute;
            transform-origin: 50% ;
            width: 6%;
            bottom: -1em;
            left: 47%;
            right: 0;
            background-color: #333645;
            height: 3px;
        }
    }
    p {
            font-size: .8em;
        }
    .btn {
        color: $white;
    }

    //layout of responsive service grid
    @include mq(med) {
       grid-template-columns: none;
       
       grid-template-areas: 
        "s1 s1"
        "s2 s2"
        "s3 s3"
        "s4 s5"
        "s6 s7";
       
        @include mq(lg) {
            grid-template-areas: 
            "s1 s1 s2 s2 s3 s3"
            "s4 s4 s4 s5 s5 s5"
            "s6 s6 s6 s7 s7 s7";
        
            @include mq(xlg) {
                grid-template-areas: 
                "s1 s1 s1 s1 s2 s2 s2 s2 s3 s3 s3 s3"
                "s4 s4 s4 s5 s5 s5 s6 s6 s6 s7 s7 s7";
            }
        }
    }
}

//IE support for layout
.ie-service-grid {
    @include ie-service-card-layout();
}

//services end

//info pane
.info {
    margin-top: 3em;
    padding: 1em 1em;
    color: #fff;
    background-color: #333645;
    @include mq (lg) {
        background-image: url('../img/nm-brand-bg.png');
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: auto 100%
    }

    &-text {
        @include mq(xlg) {
            margin: 0;
            text-align: left;
            width: 570px;
        }

        h2 {
            font-size: 2.2em;
        }
        p {
            font-size: 1.1em;
            padding-top: 1em;
        }
        p:first-of-type {
            font-weight: 600;
        }
        .btn {
            margin-top: 1em;
            margin-bottom: 2em;
            font-size: 1em;
        }
    }
  }
//info pane end

//news article start
.news { 
    @include card-grid();

    .card {
        padding: 0;
        .img {
            &-container {
                overflow: hidden;
                height:250px;
                img {
                    width: 100%;
                    height: 250px;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        .container {
            text-align: left;
            padding: 1.5em;

            .btn {
                color: $white;
            }
            h4 {
                font-weight: 600;
                margin-top: 0;
                padding-top: 0;
                @include mq (med) {
                    display: inline-block;
                    height: 3em;
                }
            }
            p {
                font-size: 0.8em;
                color: $lighter;
                padding-bottom: 1em;
            }

        }
        &:nth-child(2n + 1) {
            h4 {
                color: map-get($service-colors, '2'); //blue
            }
            .btn {
                background-color: map-get($service-colors, '2'); //blue
            }
        }
        &:nth-child(2) {
            h4 {
                color: map-get($service-colors, '5'); //purple
            }
            .btn {
                background-color: map-get($service-colors, '5'); //purple
            }
        }
        
        .author {
            text-align: left;
            margin-top: 2em;
            padding-top: 2em;
            border-top: 1px solid rgb(204, 204, 204);

            .avatar {
                img {
                    width: 3em;
                    height: 3em;
                }

                border-radius: 50%;
                display: inline-block;        
            }
            .details {
                display: inline-block;
                padding-left: 1em;
                strong, p {
                    font-size: 0.9rem;
                    margin:0;
                    padding:0;
                }
            }
            
        }
    }

    //News card layout
    @include mq(med){
        .news3 {
            display: none;

            @include mq(xlg) {
                display: block;
            }
        }
        grid-template-columns: 1fr 1fr;

        @include mq(xlg) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

//IE support for layout
.ie-news-grid {
    @include ie-news-card-layout();
}
//news end

//footer start
footer {
    margin-top: 3em;
    color: #fff;
    background-color: #333645;

    .ft {
        //contact //about //ft-website //social
        padding: 2em;
        @include mq(med){
            display: flex;
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-flow: row wrap;
            -ms-flex-flow: row wrap;
            gap: 3em;

            .ft-contact,
            .about,
            .ft-website {
                flex-grow: 1;
            }
        }

        h4 {
            text-transform: uppercase;
            font-weight: 400;
        }
        p,
        ul {
            font-size: 0.8em;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}